{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend>Login In</legend>
          {{ form|crispy }}
          <div class="form-group">
            <div class="d-flex justify-content-between align-items-center">
              <button type="submit" class="btn btn-primary">Sign In</button>
              <small class="text-muted ml-2"><a href="{% url 'password_reset' %}">Forgot Password?</a></small>
            </div>
          </div>

          <strong>---OR----</strong>
          <div class="d-flex justify-content-center" style="flex-direction: column;">
            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-info btn-lg my-2"><i class="fab fa-facebook-f mx-3"></i>Login with Facebook</a>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger btn-lg"><i class="fab fa-google mx-3"></i>Login with Google</a>
          </div>        
          

        </fieldset>
        <div class="border-top pt-3">
          <small class="text-muted">Need an Account?<a href="{% url 'register' %}" class="ml-2">Sign In!</a></small>
        </div>
      </form>
    </div>


{% endblock %}
