{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
      {% with img=post.author.profile.image %}
        <img src="{% if img %}{{img.url}}{% else %}{% static 'img/default.png' %}{% endif %}" alt="A person" class="rounded-circle article-img">
      {% endwith %}
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' username=post.author %}">{{ post.author|title }}</a>
            <small class="text-muted">{{ post.created|date:"F d,Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' pk=post.pk%}">{{ post.title|capfirst }}</a></h2>
          <p class="article-content">{{ post.content|truncatewords_html:60 }}</p>
          
          <div class="likes d-flex align-items-center">
            {% with total=post.likes.count likes=post.likes.all%}
              <p class="count text-muted m-0">
                <span class="total" id="total-{{post.id}}">{{ total }}</span> Like{{ total|pluralize }}
              </p>
              <a href="#" class="btn mx-2 text-danger font-weight-bold like" id="like-{{post.id}}" data-id="{{ post.id }}" data-action="{% if request.user in likes%}un{% endif %}like">
                {% if request.user in likes %}
                  UnLike
                {% else %}
                  Like
                {% endif %}
              </a>
            {% endwith %}
            
            <a href="{% url 'share_post' post.pk %}">Share</a>

          </div>

          <div class="comments">
            <p class="mx-1">
              {% with total_comments=post.comments.count %}
                {% if total_comments > 0 %}  
                  <a class="text-muted" href="{% url 'post-detail' pk=post.pk %}">View all {{ total_comments }} comment{{ total_comments|pluralize }}</a>
                {% else %}
                  <a class="text-muted" href="{% url 'post-detail' pk=post.pk %}">be first to Comment </a>
                {% endif %}
              {% endwith %}
            </p>
          </div>

          <!-- <form action="" method="post" class="my-3">
            {% csrf_token %} 
            <div class="form-group">
              <textarea class="form-control" id="textarea" rows="1" placeholder="Add a comment..." required></textarea>
            </div>
            <div class="form-group text-right">
              <input type="submit" value="Comment" class="btn btn-outline-success btn-sm">
            </div>
          </form> -->

        </div>
    </article>
    {% endfor %}
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a href="?page=1" class="btn btn-outline-info">First</a>
        <!-- <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info">Prev</a> -->
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a href="?page={{ page_obj.number}}" class="btn btn-primary">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
          <a href="?page={{num}}" class="btn btn-outline-info">{{ num }}</a>
        {% endif %}
      {% endfor%}

      {% if page_obj.has_next %}
        <!-- <a href="?page={{ page_obj.next_page_number}}" class="btn btn-outline-info">Next</a> -->
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info">Last</a>
      {% endif %}

    {% endif %}

{% endblock %}
{% block domready %}
    $('a.like').click(function(e){
      e.preventDefault();
      $.post('{% url "like" %}',
          {
            id: $(this).data('id'),
            action: $(this).data('action')
          },
          function(data){
            if(data['status']=='ok'){
              var post_id = data['id']
              var prev_likes = parseInt($(`p.count #total-${post_id}`).text());
              var prev_action = $(`a#like-${post_id}`).data('action');
              $(`a#like-${post_id}`).data('action', prev_action=='like'?'unlike':'like');
              $(`a#like-${post_id}`).text(prev_action == 'like' ? 'UnLike' : 'Like');
              $(`p.count #total-${post_id}`).text(prev_action=='like'?prev_likes+1:prev_likes-1);
              <!-- console.log($(`p.count .total-${post_id}`).text()); -->

            }
          }
      )
    });
{% endblock %}