{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
  {% with img=post.author.profile.image %}
    <img src="{% if img %}{{img.url}}{% else %}{% static 'img/default.png' %}{% endif %}" alt="A person" class="rounded-circle article-img">
  {% endwith %}
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' username=post.author%}">{{ post.author|capfirst }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d,Y" }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'post-detail' pk=post.pk%}">{{ post.title|capfirst }}</a></h2>
      <p class="article-content">{{ post.content|linebreaks }}</p>


      <div class="like-section">
        {% if post.likes %}
        <div class="likes d-flex align-items-center my-2">
          {% with total=post.likes.count likes=post.likes.all %}
          <p class="text-muted count m-0">
            <span class="total">{{ total }}</span> like{{ total|pluralize }}
          </p>
          <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in likes %}un{% endif %}like"
            class="btn text-danger font-weight-bold like">
            {% if request.user in likes %}
            Unlike
            {% else %}
            Like
            {% endif %}
          </a>
          {% endwith %}
        
          <a href="{% url 'share_post' post.pk %}">Share</a>
        </div>
        {% else %}
          <p class="text-muted">Be the fisrt one to like.</p>
        {% endif %}
      </div>
      

      <div class="comment-section">
        {% include 'blog/comments.html' %}
      </div>
      {% if post.author == user %}
          <div class="">
            <a href="{% url 'post-update' post.pk%}" class="btn btn-warning">Update</a>
            <a href="{% url 'post-delete' post.pk%}" class="btn btn-danger">Delete</a>
          </div>
      {% endif %}
    </div>

</article>
{% endblock %}


  {% block domready %}
    $('a.like').click(function(e){
      e.preventDefault();

      $.post('{% url "like" %}',
          {
            id: $(this).data('id'),
            action: $(this).data('action')
          },
          function(data){
            if(data['status'] == 'ok'){
              var prev_likes = parseInt($('p.count .total').text());
              var prev_action     = $('a.like').data('action');
              $('a.like').data('action', prev_action=='like'?'unlike':'like');
              $('a.like').text(prev_action == 'like' ? 'UnLike' : 'Like');
              $('p.count .total').text(prev_action=='like'?prev_likes+1:prev_likes-1);
            }
          }
      )
    });

    $('.reply-btn').click(function(e){
      e.preventDefault();
      $(this).parent().parent().next().next('#reply-form').fadeToggle()
    });


  {% endblock %}  
