{% extends 'base.html' %}
{% block content %}
    <h1>About Page</h1>
    <div class="container">
        <p>
          It is Awesome Blog site where users can post their articles and other users from
          around the world can read it and like it and comment on it.
          But why it is awesome because
          <ul>
              <li>It is very fast</li>
              <li>Uses AJAX calls for like and comments </li>
              <li>Has build User Authorization and authentication system.</li>
              <li>Very Secure </li>
          </ul>
          <small class="text-muted">Caution: This is just a demo website.</small>
          <h5>Features of this site</h5>
          <ul>
              <li>Simple and good User interface</li>
              <li>User Authorization and authentication.</li>
              <li>Ability to login using Username or Email(whatever the user remembers).</li>
              <li>Using third party API for user authrization and authentication.</li>
              <li>CMS- Content Management System. <br> <small>Only the author of the article can update or delete a post(Not anyone else)</small> </li>
              <li>Uses template_tags</li>
              <li>Has CRUD - Create Retrieve Update Delete.</li>
              <li>Like and Unlike functionality only for Registered Users </li>
              <li>Comment functionality for Registered user only</li>
              <li>Reply to any comment.</li>
              <li>Has sitemaps</li>
              <li>Dynamic</li>
          </ul>
          <h4 class="m-0 mt-5">Try this out yourself for better understanding.</h4>
        </p>
    </div>
{% endblock %}
