<div class="footer">
    <div class="container-fluid m-0">
        <p>This is a DEMO website build by <a href="http://prernamehraa.pythonanywhere.com/" target="_blank" rel="noopener noreferrer">Prerna Mehra</a>.</p>
        <ul class="contact-list">
            <li><a href="https://www.instagram.com/prerna_mehraa/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a href="https://github.com/sadakchap" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
            <li><a href="www.linkedin.com/in/prerna-mehra" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
            <!-- <li><a href=""></a></li> -->
        </ul>
    </div>
    
</div>